################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DiscordPostHelper
/.vs
/.vs/slnx.sqlite
